.logo {
  width: 70px;
  border-radius: 100px;
}

.bgImg {
  background-image: url("img/bg.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainText {
  margin: auto;
  width: 800px;
  font-family: 'Lexend Deca', sans-serif;
}


.archor {
  scroll-margin-top: 100px;
}

.call{
  color: white;
}

.call:hover{
  color:  #ffc425;
}