.logo {
  width: 70px;
  border-radius: 100px;
}

.bgImg {
  background-image: url("img/bg.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

@media (max-width: 768px) {
  .bgImg {
    min-height: 300px; /* Adjust as needed for smaller screens */
  }
}

.mainText {
  padding: auto;
  width: 80%; /* Adjust the width as needed */
  font-family: 'Lexend Deca', sans-serif;
  margin: auto;
}

@media (max-width: 768px) {
  .mainText {
    width: 100%;
  }
}


.archor {
  scroll-margin-top: 100px;
}

.call{
  color: white;
}

.call:hover{
  color:  #ffc425;
}

.credit{
  font-size: 8px;
  color: gray;
}